<% provide(:title, 'Sign up') %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <section class="hero is-primary is-medium main-content">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Title
        </h1>
        <h2 class="subtitle">
          ユーザ登録してサービスを利用する
        </h2>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-5 is-offset-one-quarter">
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, class: "input", type: "name"%>
        </div>
        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: "input" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "input" %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
        </div>    
        <div class="field">
          <p class="control">
            <%= f.submit "Sign Up", class: "button is-info"%>
          </p>
        </div>
      </div>
    </div>
  </section>
<% end %>


