<% provide(:title, '図書館をさがす') %>
        <div class="column is-8 tweet-container">
            <div class="level">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold">図書館をさがす</h1>
            </div>
            <%= form_tag(library_search_path, method: 'get')do %>
                <div class="select is-rounded"> 
                    <%= collection_select :place, :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, :prompt => "選択してください" %>
                </div>
                <div class="field">
                    <p class="control search-button">
                        <%= submit_tag 'Search', :name => nil, class: "button is-info" %>
                    </p>
                </div>
            <% end %>
            <% unless @city_names.nil? %>
                <%= "#{@pref_name}の図書館" %>
                                <%= render partial: 'shared/city_name', collection: @city_names %>
                <section class="pagination is-rounded">
                    <%= will_paginate @city_names, renderer: BulmaPagination::Rails, :previous_label => '<< 前', :next_label => '次 >>' %>
                </section>
            <% end %>
        </div>
    </div>
    </div>
