<% provide(:title, '本の詳細') %>
        <div class="column is-8 tweet-container">
            <div class="level">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold">本の詳細</h1>
            </div>
            <article class="media">
                <figure class="media-left">
                    <% if @results['items'][0]['volumeInfo']['imageLinks'].nil? %>
                        <p>no image</p>
                    <% else %>
                        <img src="<%= @results['items'][0]['volumeInfo']['imageLinks']['smallThumbnail'] %>">
　　　　　　　　　　　　<% end %>
                </figure>
                <div class="media-content">
                    <p>タイトル：<%= @results['items'][0]['volumeInfo']['title'] %></p>
                    <p>著者：<%= @results['items'][0]['volumeInfo']['authors'] %></p>
                    <p>出版社：<%= @results['items'][0]['volumeInfo']['publisher'] %></p>
                    <p>ISBN: <%= @isbn %></p>
                    <p>詳細：<%= @results['items'][0]['volumeInfo']['description']  %></p>
                </div>
            </article>

            <div class="control is-size-5">
                <%= form_for(@book_record, :url => {:controller => :books, :action => :create}) do |f| %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <%= f.hidden_field :isbn, value: @isbn %>
                    <label class="status">
                        <%= f.radio_button :status, "wish", class: "radio-button" %>読みたい本
                    </label>
                    <label class="status">
                        <%= f.radio_button :status, "reading", class: "radio-button" %>読んでいる本
                    </label>
                    <label class="status">
                        <%= f.radio_button :status, "read", class: "radio-button" %>読んだ本
                    </label>
                    <label class="status">
                        <%= f.radio_button :status, "reserved", class: "radio-button" %>予約した本
                    </label>
                    <%= f.submit "登録する", class: "button is-info" %>
                <% end %>
            </div>
            <section class="section">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold">蔵書を調べる</h1>
                <% @systemids.each do |id| %>
                        <p class="is-size-5 city-name"><%= "#{id.city}の蔵書" %></p>
                    <% if @libresults["books"][@isbn]["#{id.systemid}"]["libkey"].empty? %>
                        <p style="text-indent: 1em">蔵書なし</p>
                    <% else %>
                        <%= button_to "予約する", @libresults["books"][@isbn]["#{id.systemid}"]["reserveurl"], class: "button is-info is-small is-outlined is-rounded" %>
                        <% @libresults["books"][@isbn]["#{id.systemid}"]["libkey"].each do |name, status| %>
                            <ul style="text-indent: 1em">
                                <li><%= "#{name} : #{status}" %></li>
                            </ul>
                        <% end %>
                    <% end %>
                <% end %>
            </section>
            <section class="section">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold">みんなの感想</h1>
                <% if @posts.any? %>
                    <%= render partial: 'shared/post', collection: @posts %>
                <% end %>
            </section>
        </div>
    </div>
    </div>

