<% provide(:title, '読書記録の編集') %>
        <div class="column is-8 tweet-container">
            <div class="level">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold">読書記録の編集</h1>
            </div>
            <article class="media">
                <figure class="media-left">
                    <img src="<%= @results['items'][0]['volumeInfo']['imageLinks']['smallThumbnail'] %>">
                </figure>
                <div class="media-content">
                    <p>タイトル：<%= @results['items'][0]['volumeInfo']['title'] %></p>
                    <p>著者：<%= @results['items'][0]['volumeInfo']['authors'] %></p>
                    <p>出版社：<%= @results['items'][0]['volumeInfo']['publisher'] %></p>
                    <p>ISBN: <%= @isbn %></p>
                    <p>詳細：<%= @results['items'][0]['volumeInfo']['description']  %></p>
                </div>
            </article>

            <div class="control is-size-5">
                <%= form_for(@book_record, :url => {:controller => :books, :action => :update}) do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :isbn, value: @isbn %>
                    <label class="status">
                        <%= f.radio_button :status, "wish", class: "radio-button" %>読みたい本
                    </label>
                    <label class="status">
                        <%= f.radio_button :status, "reading", class: "radio-button" %>読んでいる本
                    </label>
                    <label class="status">
                        <%= f.radio_button :status, "read", class: "radio-button" %>読んだ本
                    </label>
                    <%= f.submit "変更する", class: "button is-info" %>
                <% end %>
            </div>
            <section class="section">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold">みんなの感想</h1>
                <% if @posts.any? %>
                    <%= render partial: 'shared/post', collection: @posts %>
                <% end %>
            </section>
        </div>
    </div>
    </div>

