<% provide(:title, '読んだ本の感想を投稿する') %>
    <div class="column is-8 tweet-container">
        <h1 class="is-size-4 has-text-primary has-text-weight-semibold">本の感想を投稿する</h1>

            <%= form_for( [@user, @post] ) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

                <div class="field">
                    <%= f.label :book_title, "本のタイトル" %>
                    <%= f.text_field :book_title, class: "input" %>
                </div>

                <div class="field">
                    <%= f.label :book_author, "著者" %>
                    <%= f.text_field :book_author, class: "input" %>
                </div>

                <div class="field">
                    <%= f.text_area :content, :maxlength => "200",
                        :placeholder  => "感想を２００字以内で入力してください", class: "textarea" %>
                </div>

                <div class="field">
                    <p class="control">
                        <%= f.submit "投稿する", class: "button is-info"%>
                    </p>
                </div>
            <% end %>
    </div>
</div>
</div>
