<div class="container">
    <nav class="level navbar is-fixed-top header-nav">
        <div class="level-left">
        <p class="level-item">
            <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
        </p>
        </div>
        <div class="level-right">
        <% if signed_in? %>
            <p class="level-item">
                <%= link_to "#{current_user.name}のホーム", user_path(current_user) %>
            </p>
            <p class="level-item">
                <%= link_to "ユーザ一覧", users_path %>
            </p>
            <P class="level-item">
                <%= link_to "本を探す", "#"%>
            </p>
            <P class="level-item">
                <%= link_to "本の管理", "#"%>
            </p>
            <P class="level-item">
                <%= link_to "図書館をさがす", "#"%>
            </p>
            <P class="level-item">
                <%= link_to "アカウントを変更する", edit_user_registration_path(current_user) %>
            </p>
            <p class="level-item">
                <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
            </p>
            <% else %>
            <p class="level-item">
                <%= link_to "Log in", new_user_session_path %>
            </p>
        <% end %>
        </div>
    </nav>              
</div>