<!DOCTYPE html>
<html>
  <head>
    <title>First App | <%= yield(:title)%> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div id="flash-message">
    <% flash.each do |key, value| %>
      <div class="notification <%= bulma_class_for(key) %>"><%= value %></div>
    <% end %> 
    </div>

    <% if signed_in? %>
      <%= render 'layouts/sidebar'%>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>